USE [master]
GO
/****** Object:  Database [Brokers]    Script Date: 05.09.2018 22:18:30 ******/
CREATE DATABASE [Brokers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brokers', FILENAME = N'D:\ТЗ(Херсон)\FileConverter\Database\Brokers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Brokers_log', FILENAME = N'D:\ТЗ(Херсон)\FileConverter\Database\Brokers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brokers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brokers]
GO
USE [Brokers]
GO
/****** Object:  Table [dbo].[BrokersList]    Script Date: 05.09.2018 22:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrokersList](
	[BrokerId] [smallint] IDENTITY(1,1) NOT NULL,
	[BrokerName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConvertedFiles]    Script Date: 05.09.2018 22:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConvertedFiles](
	[BrokerId] [smallint] NOT NULL,
	[PathToConvertedFiles] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceFiles]    Script Date: 05.09.2018 22:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceFiles](
	[BrokerId] [smallint] NOT NULL,
	[PathToSourceFiles] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BrokersList]    Script Date: 05.09.2018 22:18:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BrokersList] ON [dbo].[BrokersList]
(
	[BrokerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConvertedFiles]    Script Date: 05.09.2018 22:18:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ConvertedFiles] ON [dbo].[ConvertedFiles]
(
	[BrokerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConvertedFiles]  WITH CHECK ADD  CONSTRAINT [FK_ConvertedFiles_BrokersList] FOREIGN KEY([BrokerId])
REFERENCES [dbo].[BrokersList] ([BrokerId])
GO
ALTER TABLE [dbo].[ConvertedFiles] CHECK CONSTRAINT [FK_ConvertedFiles_BrokersList]
GO
ALTER TABLE [dbo].[SourceFiles]  WITH CHECK ADD  CONSTRAINT [FK_SourceFiles_BrokersList] FOREIGN KEY([BrokerId])
REFERENCES [dbo].[BrokersList] ([BrokerId])
GO
ALTER TABLE [dbo].[SourceFiles] CHECK CONSTRAINT [FK_SourceFiles_BrokersList]
GO
USE [master]
GO
